<!-- <div class="dropdown">
  <button (click)="click()" class="dropbtn">Dropdown</button>
  <div id="myDropdown" class="dropdown-content">
    <a href="#" >Link 1</a>
  </div>
</div>  -->

<div>
  <label>Entrez le nom d'une image stockée dans firebase : </label>
  <input type="text" id="imageNameInput" [(ngModel)]="imageName"/>
  <button (click)="initNewImage()">Editer l'image</button>
  <br/>
  <button (click)="startAnalisis()">Détecter le texte</button>
  <label>Confiance (%) : </label>
  <input type="number" id="confidenceInput" min="1" max="100" [(ngModel)]="confidence"/>
  <!-- <button (click)="download()">Téléchargez l'image</button> -->
</div>
<label>{{this.status}}</label>
<progress id="analyse" name="analyse" max="1" [value]="progress"></progress>
<div>
  <canvas id="canvas" #canvas></canvas>
</div>


<!-- <div class="container">
  <div class="card">
    <div class="card-header">
      Firebase Cloud Storage & Angular 5
    </div>
    <div class="card-body">
      <h5 class="card-title">Select a file for upload:</h5>
      <input type="file" (change)="upload($event)" accept=".png,.jpg" />
    </div>
  </div>
</div>
<button (click)="downloadFireBase()">CLIQUEZ </button> -->

<!-- <img [src]="profileUrl | async" /> -->